.f2{ /*footer*/
    background:linear-gradient(45deg, rgb(25,29,41),rgb(60,89,129));
    border-radius: 25px;
    height: 400px;
    text-align: center;
    
}
.m1{   /*about*/
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-left: 5px;
    color: #fff;
   
}
.f1,
        .d1 {
            /* border: 2px solid blue; */
            margin: 10px;
            padding: 10px;
            display: flex;
            height: 220px;
          
            color: black;
        }
    
@media screen and (min-width:375px) and (max-width:667px){  

    .f1, .d1{
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:820px) and (max-width:1180px){

    .f1, .d1{
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:360px) and (max-width:740px){

    .f1, .d1{
        display: block;
        margin-bottom: 20px;
    }
}
