.c1{
    background-color:azure;
    margin-bottom: 10px;
}

.d3 {
    border: none;
    float:right ;
    color:brown;
    padding: 5px;

}
.f3{    /*Gallery*/
    font-size: 50px;
    color:rgb(177, 111, 171);
    font-family: Great Vibes, cursive;
    text-align: center;
    box-sizing: inherit;
}
.s1, .d2{
    /*section div*/
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex: 4;              
    margin-right: 5px;
   
}
a{
    color:brown;
    text-decoration: none;
}